{% extends "admin_base.html" %} {% block title %}Eventos{% endblock %} {% block
content %}
<h1 class="text-3xl font-bold mb-6">Administrar eventos</h1>

<form method="GET" class="mb-4">
  <input
    type="text"
    name="q"
    placeholder="Buscar…"
    value="{{ q }}"
    class="px-4 py-2 rounded bg-secundario border border-gray-700 w-72"
  />
  <button class="px-4 py-2 bg-acento text-black rounded hover:bg-red-700">
    Buscar
  </button>
</form>

<a
  href="{{ url_for('admin_eventos_crear') }}"
  class="px-4 py-2 bg-red-600 rounded text-black font-semibold hover:bg-red-700 transition inline-block mb-4"
>
  + Crear nuevo evento
</a>

<div class="space-y-3">
  {% for e in eventos %}
  <div
    class="bg-secundario p-4 rounded border border-gray-700 flex justify-between items-center"
  >
    <div>
      <p class="text-xl font-semibold">{{ e.titulo }}</p>
      <p class="text-gray-400 text-sm">
        {{ e.fecha_y_hora.strftime('%d/%m/%Y %H:%M') }}
      </p>
    </div>

    <div class="flex gap-3">
      <a
        href="{{ url_for('admin_eventos_editar', id=e.id) }}"
        class="px-3 py-1 bg-blue-600 text-black rounded hover:bg-blue-700"
        >Editar</a
      >

      <a
        href="{{ url_for('admin_eventos_eliminar', id=e.id) }}"
        class="px-3 py-1 bg-red-600 text-black rounded hover:bg-red-700"
        onclick="return confirm('¿Eliminar evento?')"
      >
        Eliminar
      </a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
