{% extends "admin_base.html" %}

{% block title %}
{% if modo == "crear" %}Crear Usuario{% else %}Editar Usuario{% endif %}
{% endblock %}

{% block content %}

<h1 class="text-3xl font-bold mb-6">
    {% if modo == "crear" %}Crear Usuario{% else %}Editar Usuario{% endif %}
</h1>

<form method="POST" class="space-y-4 max-w-xl">

    <label class="block">
        <span class="font-semibold">Username</span>
        <input type="text" name="username" required
               value="{{ usuario.username if usuario else '' }}"
               class="w-full px-4 py-2 rounded bg-secundario border border-gray-700">
    </label>

    <label class="block">
        <span class="font-semibold">Mail</span>
        <input type="email" name="mail" required
               value="{{ usuario.mail if usuario else '' }}"
               class="w-full px-4 py-2 rounded bg-secundario border border-gray-700">
    </label>

    <label class="block">
        <span class="font-semibold">Contraseña</span>
        <input type="password" name="password"
               placeholder="{% if modo=='editar' %}(Opcional){% endif %}"
               class="w-full px-4 py-2 rounded bg-secundario border border-gray-700">
    </label>

    <label class="block">
        <span class="font-semibold">Rol</span>
        <select name="role" class="px-4 py-2 rounded bg-secundario border border-gray-700">
            <option value="aficionado"
                {% if usuario and usuario.role=='aficionado' %}selected{% endif %}>
                Aficionado
            </option>

            <option value="admin"
                {% if usuario and usuario.role=='admin' %}selected{% endif %}>
                Admin
            </option>
        </select>
    </label>

    <button class="px-4 py-2 bg-acento text-black rounded font-semibold hover:bg-red-700">
        Guardar
    </button>

</form>

{% endblock %}
