<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    {% if weather %}
    {% if weather.error %}
        <p>{{ weather.error }}</p>
    {% else %}
        <h2>Clima en {{ weather.name }}</h2>
        <p>Temperatura: {{ weather.main.temp }} °C</p>
        <p>Descripción: {{ weather.weather[0].description }}</p>
    {% endif %}
{% endif %}
</body>
</html>